/* latin */
@font-face {
  font-family: 'Press-Start-2P';
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v6/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2) format('woff2');
}

body {
  background:#222;
  font-family: 'Press-Start-2P', cursive;
}

#contain {
  position:relative;
  width:640px;
  height:640px;
  margin:30px auto;
  background:#ccc;
}

#background, #obstacleCanvas, #bikeCanvas, #topCanvas {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.invisible {
	opacity:0;
}